<nav>
  <div class='navbar-column'>
  </div>
  <div class='navbar-column'>
<a href="/ruta-protegida">Informacion Confidencial</a>
    <a href='./form'>Agregar productos</a>
    <a href="/showsession">Show Session</a>
</div>
  <div class='navbar-column'>
    <a href='./logout' class="log-button" >Log out</a>
  </div>

</nav>