<img src="http://www.nginx.com/wp-content/uploads/2018/08/NGINX-logo-rgb-large.png" class="arrow" alt="success!">
<h2 style="nginx" >works!</h2>
<p>ruta: /nginx</p>


{{!-- 

<p>Redireccionando al Inicio... 2s</p>
<script>
    const timer = () => {
  setTimeout(() => {
    document.location.href = '/'
  }, 3000);
    }
    timer()
</script>
 --}}