<meta charset='UTF-8' />
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<link rel='stylesheet' type='text/css' href='./public/styles/css/styles.css' />
<link rel='shortcut icon' href='https://cdn-icons-png.flaticon.com/512/3649/3649775.png' type='image/x-icon' />
<script src='/socket.io/socket.io.js'></script>
<title>Desafio 16 | Loggers y Gzip</title>