<h1>Productos</h1>
<div class="filter-box">
  <form action="#">

    <input placeholder="Producto" type="text" />
    <button type="submit">Buscar 🔎</button>

  </form>

</div>

<div id="productos-wrapper" class="products-container"></div>