<div class="success-box">
  <h2>Bienvenido!</h2>  
<p> <strong class="green">{{user.username}}</strong></p>
<img src="https://cdn-icons-png.flaticon.com/512/8832/8832108.png" class="arrow" alt="success!">

</div>


<script>
    const timer = () => {
  setTimeout(() => {
    document.location.href = '/api/user/profile'
  }, 1000);
    }
    timer()
</script>
