<nav>
  <div class="navbar-column">
    {{!-- <div class="theme-switch">
          {{> themeSwitch} </div> --}}
    <a href="/" title="Inicio">Inicio</a>
  </div>
  <div class="navbar-column">

  </div>
  <div class="navbar-column">

    <a href="/api/auth/login" class="log-button" title="Login">Login</a>
    <a href="/api/auth/signup" title="Signup ">Signup</a>
  </div>

</nav>