    <h1>Chat WebSocket</h1>
    <div class="chat-container">
        <form id="myAnchor" onsubmit="return enviarMsg()">
            <input type="email" id="input-email" placeholder="Chat email" required="true">
            <div id="mgs-area" class="chat-area">

            </div>
            <div class="input-msg-container">
                <input type="text" id="inputMsg" placeholder="Mensaje" required="true">
                <button class="my-button" type="submit" >Enviar</button>
            </div>
        </form>
    </div> 
