<form method="post" action="/signup">
  <h2>Sign up</h2>
  <img
    src="https://cdn-icons-png.flaticon.com/512/6799/6799093.png"
    class="arrow"
    alt=""
  />
  {{!   <input placeholder="Full name" name="nameuser" />
  <input placeholder="+Area code & Phone" name="phone" />
  <input placeholder="Address" name="address" />
  <input placeholder="Address 2" name="address2" />
  <input placeholder="Avatar" name="avatar" type="file" /> }}
  <input placeholder="Age" name="age" />
  <input placeholder="Email" name="username" />
  <input placeholder="Password" name="password" type="password" />

  <button class="log-button" type="submit">Sign up</button>
</form>