<nav>
  <div class="navbar-column">
    <a href="./">Inicio</a>
  </div>
  <div class="navbar-column">

  </div>
  <div class="navbar-column">

    <a href="./login" class="log-button">Log in</a>
    <a href="./signup">Sign up</a>
  </div>

</nav>