// Animaciones

@keyframes fadeInUp {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translatey(-10px);
        opacity: 0;
    }

    to {
        transform: translatey(0px);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInDown {
    from {
        transform: translatey(-10px);
        opacity: 0;
    }

    to {
        transform: translatey(0px);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}