<nav>
  <div class='navbar-column'>
  </div>
  <div class='navbar-column'>
<a href="/informacionconfidencial">Informacion Confidencial</a>
    <a href='./form'>Agregar productos</a>
    <a href="/showsession">Show Session</a>
</div>
  <div class='navbar-column'>
    <a href='./logout'>Logout</a>
  </div>

</nav>