<nav>
  <div class='navbar-column'>
        <a href='./'>Inicio</a>
  </div>
  <div class='navbar-column'>
    <a href='./info'>Info</a>
    <a href='./api/randoms'>/api/randoms</a>
  </div>
  <div class='navbar-column'>
{{!--     <a href='./login'class="log-button">Log in</a>
    <a href='./signup' class="log-button" >Sign up</a> --}}
  </div>

</nav>