<div class="form-box">
  <h2>Agrega un producto</h2>
  <form id="preventDefault" action="/api/product/add" method="POST">
    <input type="text" name="name" placeholder="Name" required="true" />
    <input type="number" name="price" placeholder="Price" required="true" />
    <input type="text" name="thumbnail" placeholder="URL de thumbnail" required="true" />
    <input type="text" name="description" placeholder="Description" required="true" />
    <input type="number" name="stock" placeholder="Stock" required="false" />
    <button class="log-button" type="submit" value="Agregar">Agregar</button>
  </form>
</div>