doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Formulario
        style
            include styles.css
    body 
        h1 Postea un producto
    form(action="/", method="POST")
        input(type="text", name="nombre", placeholder="Nombre del producto" required="true") 
        input(type="number", name="precio", placeholder="Precio del producto" required="true")
        input(type="text", name="thumbnail", placeholder="URL de la imagen" required="true")
        div( class="button-container" )
            button( class="my-button" type="submit") Postear
    a( class="my-button" href="./") ir a Productos
    p( class="footer" ) Copyright© ThisIsSanti.dev 2022

