html
    head
        title='test pug'
        style
            include styles.css
    body
        h1="Gracias por ingresar un producto nuevo!"
        a(href="./" class="my-button" ) Volver al listado de productos
        p(class='p-cualquiera')=x
    