<img src="https://cdn-icons-png.flaticon.com/512/391/391045.png" class="arrow" alt="success!">
<h2>Login fail!</h2>
<a href="/login">Try again</a>

<script>
    const timer = () => {
  setTimeout(() => {
    document.location.href = '/login'
  }, 2000);
    }
    timer()
</script>
