<h1 >Postea un producto</h1>
    <form class="" action="/" method="POST">
        <input type="text" name="nombre" class="form-control" placeholder="Nombre del producto"  required="true">
        <input type="number" name="precio" class="form-control" placeholder="Precio del producto" required="true">
        <input type="text" name="thumbnail" class="form-control" placeholder="URL de la imagen" >
        <button class="my-button" type="submit" value="Agregar">Postear</button>
    </form>
<a class="my-button" href="./" role="button">Ir a Productos</a>
