<form method="post" action="/signup" >
    <h2 >Signup</h2>
    <img src="https://cdn-icons-png.flaticon.com/512/6799/6799093.png" class="arrow" alt="">
    <input placeholder="Email" name="username" />
    <input placeholder="Password" name="password" type="password" />
        <button  type="submit">Signup</button>
    </form>
            <a href='./login' class="link-login">Login</a>

