<form method="post" action="/login">
  <h2>Log in</h2>
  <img
    src="https://cdn-icons-png.flaticon.com/512/8043/8043665.png"
    class="arrow"
    alt=""
  />
  <input placeholder="Email" name="username" />
  <input placeholder="Password" name="password" type="password" />
  <button class="log-button" type="submit">Log in</button>
</form>