<form method="post" action="/signup">
  <h2>Sign up</h2>
  <img
    src="https://cdn-icons-png.flaticon.com/512/6799/6799093.png"
    class="arrow"
    alt=""
  />
  <input placeholder="Nombre" name="nombre" />
  <input placeholder="Telefono ejemplo: +52 5512308811" name="telefono" />
  <input placeholder="Direccion" name="direccion" />
  <input placeholder="Avatar url" name="url" />
  <input placeholder="Age" name="edad" />
  <input placeholder="Email" name="username" />
  <input placeholder="Password" name="password" {{! type="password" }} />

  <button class="log-button" type="submit">Sign up</button>
</form>