/* carrito */
#productosCounter {
  color: $font-color;
  font-size: 10px;
}

.my-canvas {
  background-color: rgba(196, 196, 196, 0.2823529412);
  backdrop-filter: blur(10px);
  color: rgba(229, 229, 229, 0.9);
  border-radius: 15px;
  margin: 15px;
  margin-top: 55px;
  height: fit-content;
}

.offcanvas-body {
  overflow: overlay;
  max-height: 70vh;
}

.carrito {
  right: 15px;
  top: 15px;
  flex-direction: row;
}

@media (max-width: 990px) {
  .carrito {
    position: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
  }
}

.carrito img {
  width: 25px;
  flex-direction: row;
  margin: 0px 10px 0px 10px;
  transition: all linear .1s;
  -webkit-transition: all linear .1s;
  -moz-transition: all linear .1s;
  -ms-transition: all linear .1s;
  -o-transition: all linear .1s;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}





#carrito-wrapper {

  background-color: rgba(128, 128, 128, 0.103);

  .img-carrito {
    object-fit: cover;
    width: 70px;
    margin: 10px;
  }

  .card-detalle {
    padding: 0em 1em;
    color: #373737 !important;


    .card-title {
      font-weight: 700;
      color: #afafaf !important;
      border-bottom: 1px rgba(136, 136, 136, 0.37);
      text-align: start;

    }

    .card-text {
      color: #afafaf !important;
      margin-bottom: 1px;
      font-size: 15px;

    }
  }

  .eliminar {
    align-self: center;
    background-color: rgba(0, 0, 255, 0.5);
    border: none;
    width: 80px;
    color: black;
    border-radius: 50px;
    height: 40px;
    object-fit: contain;
  }
}

.btn-close {
  color: #555555 !important;
}


.totalCarrito {
  border: 2px solid rgba(136, 136, 136, 0.37);
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  width: 338px;
  margin: 10px auto;
  background-color: white;
  color: rgb(71, 71, 71);
  font-weight: bold;

}




.botonCarrito {
  display: flex;
  justify-content: space-around;

  .pagar {
    border: 2px solid rgb(64, 77, 199);
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    padding: 0.5em 2em;
    margin-bottom: 1em;


    font-weight: bold;
    background-color: $darkgrey;
    color: rgb(187, 187, 187);

    &:hover {
      background-color: rgb(64, 77, 199);
      color: rgba(255, 255, 255, 0.8);
    }


  }


  .vaciar-carrito {

    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    padding: 0.5em 1em;
    margin-bottom: 1em;


    font-weight: bold;
    background-color: $darkgrey;
    color: rgb(187, 187, 187);
    border: 2px solid rgba(161, 72, 72, 0.37);

    &:hover {
      background-color: rgba(161, 72, 72, 0.37);
      color: rgba(255, 255, 255, 0.8);
    }


  }


}


.card {
  background-color: $darkgrey;

}

#carrito-wrapper .eliminar {
  background-color: #555555;
  color: white;

  &:hover {
    background-color: #7f7f7f;
    color: white;
  }

}


#carrito-wrapper .card-detalle .card-title {
  color: rgb(187, 187, 187);

}

#carrito-wrapper .card-detalle .card-text {
  color: rgb(142, 142, 142);


}

.totalCarrito {
  background-color: $darkgrey;
  color: rgb(187, 187, 187);


}