<nav>
  <div class='navbar-column'>
        <a href='./'>Inicio</a>
  </div>
  <div class='navbar-column'>
    <a href='./products-list'>Productos</a>
    <a href='./productos-test'>Faker</a>
    <a href='./chat'>Chat</a></div>
  <div class='navbar-column'>
    <a href='./login'class="log-button">Log in</a>
    <a href='./signup' class="log-button" >Sign up</a>
  </div>

</nav>