<h2>Ruta /info</h2>
<p>Compresión gzip</p>

<p> <strong>Transferido con Compresión:</strong> 808 B (tamaño 1.36 kB) </p>
<p> <strong>Transferido sin Compresión:</strong> 1.61 kB (tamaño 1.38 kB)</p>


