<h2>Ruta /info</h2>
<p>Compresión con gzip</p>
<img src="https://cdn-icons-png.flaticon.com/512/5098/5098125.png" class="arrow" alt="" />

<p class="info"> <strong>Transferido con compresión: </strong> 808 Bytes<span>(</span>tamaño 1.36 kB<span>)</span> </p>
<p class="info"> <strong>Transferido sin compresión: </strong> 1.61 kB<span>(</span>tamaño 1.38 kB<span>)</span></p>