<h2>Si estas viendo esto es porque eres:</h2>
<h3>Administrador: <strong class="green" >{{admin}}</strong>  </h3>
<img src="https://cdn-icons-png.flaticon.com/512/4395/4395329.png" class="arrow"  alt="">
<h3>y eres <strong class="capitalize" >{{user.username}}</strong></h3>
