<p id="username" >Error de autorización!</p>
<img src="https://cdn-icons-png.flaticon.com/512/4926/4926183.png" class="arrow" alt="success!">
<h2>401 Unauthorized</h2>

<script>
    const timer = () => {
  setTimeout(() => {
    document.location.href = '/login'
  }, 2000);
    }
    timer()
</script>
