<nav>
  <div class="navbar-column">
    <a href="./">Inicio</a>
  </div>
  <div class="navbar-column">

    <a href="./productos-test">Faker</a>
    <a href="./chat">Chat</a>
    <a href="./info">🆕Info</a>
  </div>
  <div class="navbar-column">

    <a href="./login" class="log-button">Log in</a>
    <a href="./signup">Sign up</a>
  </div>

</nav>